<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/public/stylesheets/employees/new.css">
<%- include('../partials/nav') %>

<title>Add Employee</title>

<section>
  <h2 id="add-employee-header">Add Employee:</h2>

  <form id="add-employee-form" action="/employees" method="POST">
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Employee Name:</label>
      <input type="text" name="eName" autocomplete="off" class="form-control" id="formGroupExampleInput" placeholder="Employee Name">
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">Start Date:</label>
      <input type="date" name="startDate" autocomplete="off" class="form-control" id="formGroupExampleInput2" placeholder="Start Date">
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">Department:</label>
      <input type="text" name="department" autocomplete="off" class="form-control" id="formGroupExampleInput2" placeholder="Department">
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">Location:</label>
      <input type="text" name="location" autocomplete="off" class="form-control" id="formGroupExampleInput2" placeholder="Location">
    </div>
    <button id="add-employee-button" type="submit">submit employee</button>
  </form>
</section>



<%- include('../partials/footer') %>