  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-color: #ffffff">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/profiles">My Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/employees/new">Add Employee</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/employees">All Employees</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reviews/new">New Review</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    
    <% if (user) { %>
      <a href="/auth/logout">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
